<!-- Start Partners -->
  <section class="partners">
    <div class="container">
      <div class="row">
        <div class="preamble col-md-12">
          <h3>Our Partners</h3>
        </div>
        <div class="col-md-12">
          <div id="clients-slider" class="owl-carousel">
            <%=image_tag('company1.png', alt: "", class: 'img-responsive') %>
            <%=image_tag('company2.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company3.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company1.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company2.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company3.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company1.png', alt: '', class: 'img-responsive') %>
            <%=image_tag('company2.png', alt: '', class: 'img-responsive') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Partners -->