
  <!-- Start Header-Section -->
  <section class="header-section contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-section pull-left">
            About Us
          </h3>
          <ul class="breadcrumbs custom-list list-inline pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header-Section -->

  <!-- Start Team -->
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="preamble col-md-12">
          <h3>Our Team</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eius exercitationem ab aspernatur, ratione officia animi. Rerum necessitatibus, culpa. Tenetur incidunt quasi unde libero molestias dicta doloremque, non aliquam ipsam!</p>
        </div>
        <div class="member col-md-3 col-sm-6">
          <div class="avatar">
            <!-- <img src="img/member1.jpg" alt="" class="img-responsive"> -->
            <%= image_tag('member3.png', class: 'img-responsive') %>
            <ul class="social custom-list list-inline">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <div class="description">
            <h4>Name X</h4>
            <span class="work"> Founder / CEO </span>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>
        </div>
        <div class="member col-md-3 col-sm-6">
          <div class="avatar">
           <!--  <img src="img/member2.jpg" alt="" class="img-responsive"> -->
            <%= image_tag('member3.png', class: 'img-responsive') %>
            <ul class="social custom-list list-inline">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <div class="description">
            <h4>Name Y</h4>
            <span class="work"> Web Developer </span>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>
        </div>
        <div class="member col-md-3 col-sm-6">
          <div class="avatar">
            <!-- <img src="img/member3.jpg" alt="" class="img-responsive"> -->
            <%= image_tag('member3.png', class: 'img-responsive') %>
            <ul class="social custom-list list-inline">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <div class="description">
            <h4>Name Z</h4>
            <span class="work">Business Manager</span>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>
        </div>
        <div class="member col-md-3 col-sm-6">
          <div class="avatar">
            <!-- <img src="img/member4.jpg" alt="" class="img-responsive"> -->
            <%= image_tag('member3.png', class: 'img-responsive') %>
            <ul class="social custom-list list-inline">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <div class="description">
            <h4>Name XY</h4>
            <span class="work"> Graphic Designer </span>
            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team -->

  <!-- Start Testimonials -->
  <section class="testimonials">

    <!-- Start Video Background -->
    <div id="video_testimonials" data-vide-bg="video/ocean" data-vide-options="position: 0% 50%"></div>
    <div class="video_gradient"></div>
    <!-- End Video Background -->

    <div class="container">
      <div class="row">
        <div class="preamble light col-md-12">
          <h3>Testimonials</h3>
        </div>

        <div class="col-md-12">
          <div id="owl-testimonials" class="owl-carousel owl-theme">

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>John Kowalski<span class="job">CEO - UOUapps</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>John Doe<span class="job">CEO - UOUapps</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials -->

  <!--Partners section -->
  <%= render 'layouts/shared/partners' %>