<!-- Start Header-Section -->
  <section class="header-section contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-section pull-left">
            Our Staff
          </h3>
          <ul class="breadcrumbs custom-list list-inline pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/our-stuffs">Our Staff</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header-Section -->
  <!-- Start Staff -->
  <section class="staff">
    <div class="container">
      <div class="row">
        <div class="preamble col-md-12">
          <h3>Our Hotel Staff</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eius exercitationem ab aspernatur, ratione officia animi. Rerum necessitatibus, culpa. Tenetur incidunt quasi unde libero molestias dicta doloremque, non aliquam ipsam!</p>
        </div>
        <div class="col-md-6">

          <!-- Start Hotel Staffers List -->
          <ul class="custom-list hotel-staffers-list">

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-1.png', alt: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile1">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                        <!-- <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%= image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail-2.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-2.png', atl: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile2">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                        <!-- <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%= image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail-3.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-3.png', alt: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile3">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                      <!--   <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%= image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>
          </ul>
          <!-- End Hotel Staffers List -->
        </div>

        <div class="col-md-6">

          <!-- Start Hotel Staffers List -->
          <ul class="custom-list hotel-staffers-list">

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail-4.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-4.png', alt: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile4">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                        <!-- <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%=image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail-5.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-5.png', alt: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile5">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                        <!-- <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%= image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>

            <li class="staffer-profile">
              <div class="overlay">
                <div class="thumb staffer-thumb">
                  <!-- <img src="img/staff-thumbnail-6.png" alt=""> -->
                  <%= image_tag('staff-thumbnail-6', alt: '') %>
                </div>
                <div class="content staffer-profile-content">
                  <header class="staffer-profile-header">
                    <h5 class="pull-left title">John Doe</h5>
                    <span class="pull-right position">chauffeu</span>
                  </header>
                  <ul class="custom-list staffer-profile-properties">
                    <li>Years of experience<strong>12</strong></li>
                    <li>Languages <strong>English, Spanish</strong> </li>
                    <li>Special trainging <strong>Yes</strong> </li>
                  </ul>
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <button class="btn btn-transparent-white" data-toggle="modal" data-target="#fullProfile6">Read More</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="fullProfile6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="modal-body">
                      <div class="img-caption pull-left">
                       <!--  <img src="img/staff-thumbnail-modal.png" alt=""> -->
                        <%= image_tag('staff-thumbnail-modal.png', alt: '') %>
                        <div class="img-caption-inner text-center">
                          <h5>Jeffrey Richards</h5>
                          <span>Pilot</span>
                        </div>
                      </div>
                      
                      <div class="staffer-profile-content pull-left">
                        <header class="staffer-profile-header">
                          <h5>Bio</h5>
                        </header>
                        <p class="staffer-profile-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus.</p>
                        <ul class="custom-list staffer-profile-properties">
                          <li>Years of experience<strong>12</strong></li>
                          <li>Languages <strong>English, Spanish</strong> </li>
                          <li>Special trainging <strong>Yes</strong> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </li>
          </ul>
          <!-- End Hotel Staffers List -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Staff -->
  <%= render 'layouts/shared/partners' %>